* {
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.header {
	margin: 1rem;
}
.content {
	margin: 1rem;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
}
.row.submit {
	justify-content: center;
}
.form-item {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin-bottom: 1rem;
}
.form-item.center {
	align-self: center;
}
.form-item label {
	margin-bottom: 0.5rem;
	font-weight: bold;
	font-size: 1.4rem;
}
.form-item input {
	padding: 0.5rem;
	font-size: 1rem;
}
.error-message p {
	color: red;
	font-size: 1.2rem;
}
.select-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.select-wrapper input {
	width: 100%;
}

.hidden {
	display: none;
}
.select-options-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	z-index: 2;
	display: none;
}
.select-wrapper.open .select-options-wrapper {
	display: block;
}
.select-option {
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem;
}
.select-option:hover {
	background-color: #ccc;
}
.select-option.selected {
	font-weight: bold;
	border-left: 3px solid #000;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

/* The switch component */
.switch-wrapper {
	position: relative;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.switch-wrapper label:first-child {
	display: inline-block;
	height: 2.1rem;
	width: 60px;
	position: relative;
}
.switch-wrapper label:last-child {
	display: inline-block;
	height: 2.1rem;
	width: 180px;
	position: relative;
	margin-left: 10px;
}
.switch-wrapper input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch-wrapper .switch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}
.switch-wrapper .switch:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}
.switch-wrapper input:checked + .switch {
	background-color: #2196F3;
}

.switch-wrapper input:focus + .switch {
	box-shadow: 0 0 1px #2196F3;
}

.switch-wrapper input:checked + .switch:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Media queries */
@media (max-width: 539px) {
	.row {
		flex-direction: column;
	}
	.row.submit {
		justify-content: flex-start;
	}
	.form-item {
		width: 100%;
	}
}
